<div style="width:88%;margin:0 auto;padding:2%;padding-left:5%;">
	<div class="jumbotron">
		<div>
			<h3 style="color:#009688;">
				Welcome To..
			</h3>
		</div>
		<div>
			<h1 >
				Providencedu.in 
			</h1>
		</div>
		<div>
			<h3 style="color:#009688;">
				"Because we need to prepare students for their future, not our past."
			</h3>
		</div>
	</div>
</div>