<div id="mcontainer"  >
    <!-- start your query before the .brick element -->
    <div class="brick">
        <h4>Course Name</h4>
        <%=image_tag '1.jpg'%>
        <p><i fa fa-watch></i>Course Duration</p>
    </div>
    <!-- end query-->
</div>