<div class="container">
				<div class="row">
					<div class="col-md-12 text-center wp4">
						<div id="testi"  style="display:inline">

						<%Testimonial.all.each do |test|%>
						  	<div class="item" style="color:#ffffff !important;">
						  		<h5 style="color:#ffffff !important;"><%=test.name%></h5>
								<p style="color:#ffffff !important;"><%=test.content%></p>
						  	</div>
						 <%end%>
							
						</div>	
					</div>
				</div>
			</div>



						  